@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3{
  font-family:'Space Grotesk', sans-serif
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4%);
  } 
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-4%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll {
  animation-duration: 11s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.animate-scroll--infinite {
  animation-name: scroll;
}